<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="com.springCore.spring_core.Students" name="student1">
		<property name="studentId">
			<value>110159</value>
		</property>
		<property name="StudentName">
			<value>Ravi Patel</value>
		</property>
		<property name="StudentAddress">
			<value>Jaunpur</value>
		</property>

	</bean>
	<bean class="com.springCore.spring_core.Students" name="student2">
		<property name="studentId">
			<value>45567</value>
		</property>
		<property name="StudentName">
			<value>Rohit Sharma</value>
		</property>
		<property name="StudentAddress">
			<value>Delhi</value>
		</property>

	</bean>

</beans>